{% extends "parcel_service/base.html" %}
{% block content %}
  <<h2>Wylogowano</h2>>
  <div class="border-top pt-3">
    <small class="text-muted">
       <a href="{% url 'login' %}">Zaloguj się ponownie</a>
    </small>
  </div>

{% endblock content %}
