{% extends "parcel_service/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </div>
    </div>
    <form method="POST" enctype="multipart/multipart/form-data">
      <!--
      enctype to to by przesłać dane o obrazku przez formularz poprawnie, by się poprawnie zapisał
      enctype - encoding type
      https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form#attr-enctype
      -->
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Ustawienia konta</legend>
            {{ user_update_form|crispy }}
            {{ profile_update_form|crispy }}
            <!-- filtr crispy -->
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Zaktualizuj dane</button>
        </div>
    </form>
  </div>

  <!-- https://docs.djangoproject.com/en/2.1/howto/static-files/#serving-files-uploaded-by-a-user-during-development -->

  <!--<h1>{{ user.username }}</h1>
  ten user.username jest wbudowaną funkcją w django, nic nie przekazujemy; funkcja reprezentuje zalogowanego usera-->
{% endblock content %}
