<!DOCTYPE html>
<html>
<head>
	<title>Parcel Service Homepage</title>
</head>
<body>
	{% for users in profile %}
	  {% for parcel in parcels %}
  	<h1> Numer paczki {{ parcel.parcel_number }}</h1>
		<p>Nadawca {{parcel.kod_odbioru}}</p>
		<p>Kod odbioru {{parcel.kod_odbioru}}</p>
		{% endfor %}
  {% endfor %}
</body>
</html>
